out
gen
target
temp
log
upload
keypair
key

node_modules/
dist/
tests/e2e/reports
tests/**/coverage/

.idea
.vscode
.log
.temp
.key
.DS_Store

*.suo
*.ntvs*
*.njsproj
*.sln
*.local
*.iml
**/*.log

npm-debug.log*
yarn-debug.log*
yarn-error.log*

selenium-debug.log
package-lock.json
yarn.lock