# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
out
gen
target
temp
log
upload
keypair
key

node_modules/
dist/
tests/e2e/reports
tests/**/coverage/

.idea
.vscode
.log
.temp
.key
.DS_Store

*.suo
*.ntvs*
*.njsproj
*.sln
*.local
*.iml
**/*.log

npm-debug.log*
yarn-debug.log*
yarn-error.log*

selenium-debug.log
package-lock.json
yarn.lock



scetc-show-videos-admin/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
src/main/java/com/show/admin/scetc/utils/SMSUtils.java

out
gen
target
temp
log
upload
keypair
key

node_modules/
dist/
tests/e2e/reports
tests/**/coverage/

.idea
.vscode
.log
.temp
.key
.DS_Store

*.suo
*.ntvs*
*.njsproj
*.sln
*.local
*.iml
**/*.log

npm-debug.log*
yarn-debug.log*
yarn-error.log*

selenium-debug.log
package-lock.json
yarn.lock